<header>
    <!-- Imagem de fundo do Header -->
    <div id="background"></div>

    <!-- Logo Gamemania com o texto -->
    <div id="background2">




        <img id="logo" src="../assets/imagens/Logo.gif" alt="Logo" width="160" height="150">
        <div class="descricao">
            <h1>Os melhores jogos, encontra aqui!</h1>
            <p>Somos especialistas em comércio por atacado de games das principais plataformas no mercado mundial, tais como: Playstation, Xbox e Nintendo.</p>
        </div>
        <!-- Ícones Playstation e etc -->
        <div class="icones-gamer">
            <div class="ico">
                <img src="../assets/imagens/icones/playstation.png" alt="playstation logo" width="40" height="40">
                <p>Playstation</p>
            </div>

            <div class="ico">
                <img src="../assets/imagens/icones/xbox.png" alt="Xbox logo" width="40" height="40">
                <p>Xbox</p>
            </div>

            <div class="ico">
                <img src="../assets/imagens/icones/steam.png" alt="Steam logo" width="40" height="40">
                <p>Nintendo</p>
            </div>
        </div>
        <!-- Fim dos ícones -->
    </div>
    <!-- Fim do Logo Gamemania com o texto -->
</header>

<section id="destaques">

    <article id="item01" class="container-fluid">

        <div class="titulo">
            <img src="../assets/imagens/prize.png" width="40" height="40">
            <span></span>
            <h2>Destaques</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="descricao-item col-md-6">
                    <div class="barra"></div>
                    <div class="item">
                        <h2>FIFA 22 EDIÇÃO ULTIMATE</h2>
                        <p>Powered by Football™, EA SPORTS™ FIFA 22 deixa o jogo ainda mais real <br> com avanços fundamentais de jogabilidade e uma nova temporada de <br>inovações em todos os modos, além da tecnologia inovadora HyperMotion <br> de próxima
                            geração no PlayStation®5 que eleva cada momento da partida.
                        </p>
                        <button class="btn btn-primary">Comprar <img src="../assets/imagens/icones/add.png" width="24" height="24"></button>
                    </div>
                </div>

                <div class="item-img col-md-6">
                    <img src="../assets/imagens/fifa22.jpg" width="450" height="350">
                    <!-- Comentário da foto -->
                    <blockquote class="blockquote text-center">
                        <p>"Melhor jogo de futebol!"</p>
                        <footer class="blockquote-footer">IGN Brasil</footer>
                    </blockquote>
                </div>

            </div>
        </div>
        <div class="row">
            <br><br><br>

            <div class="item-img col-md-5">
                <img src="../assets/imagens/rdr2.jpg" width="500" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhor jogo de tiro."</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>
            <div class="descricao-item col-md-6">

                <div class="item">
                    <h2>Halo</h2>
                    <p>Em Halo 5: Guardians a paz é quebrada quando as colônias são atacadas inesperadamente pelo inimigo. Mas quando o maior herói da humanidade desaparece, um novo Spartan é encarregado de encontrar o Master Chief e desvendar um mistério
                        que ameaça toda a galáxia. A produtora promete que o jogo será gigantesco, muito maior do que qualquer outro jogo da série.</p>
                    <button class="btn btn-primary">Comprar <img src="../assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
                <div class="barra"></div>
            </div>
            <br><br>
        </div>
        <div class="row">
            <div class="descricao-item col-md-6">
                <div class="barra"></div>
                <div class="item">
                    <h2>Mario</h2>
                    <p>Mario é retratado como um encanador italiano baixinho rechonchudo e bigodudo vindo do Brooklyn que reside no Reino dos Cogumelos. Ele repetidamente tem a missão de resgatar a Princesa Peach, do vilão Bowser e impedir seus diversos
                        planos de destruir e dominar o reino.</p>
                    <button class="btn btn-primary">Comprar <img src="../assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
            </div>

            <div class="item-img col-md-6">
                <img src="../assets/imagens/village.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhores jogos anos 80 "</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>

        </div>
        <div class="row">


            <div class="item-img col-md-6">
                <img src="../assets/imagens/halo.jpg" width="520" height="350">
                <!-- Comentário da foto -->
                <blockquote class="blockquote text-center">
                    <p>"Melhores jogos anos 90 "</p>
                    <footer class="blockquote-footer">IGN Brasil</footer>
                </blockquote>
            </div>
            <div class="descricao-item col-md-6">

                <div class="item">
                    <h2>Sonic</h2>
                    <p>Sonic é um ouriço azul antropomórfico (embora era referido pela Tec Toy, representante da Sega no Brasil, como porco espinho), capaz de correr em velocidade imensurável e se enrolar como uma bola, primariamente para atacar inimigos.</p>
                    <button class="btn btn-primary">Comprar <img src="../assets/imagens/icones/add.png" width="24" height="24"></button>
                </div>
                <div class="barra"></div>
            </div>

        </div>
    </article>



    <!--Banner-->
    <img id="banner" src="assets/imagens/horizon.jpg">

    <section class="contact" id="contato">
        <div class="content">
            <p>Entre em contato comigo pelo Whatsapp, e-mail ou redes sociais. Se preferir, mande uma mensagem preenchendo os campos abaixo. </p>
        </div>
        <div class="container-contato">
            <div class="contact-info">
                <div class="box">
                    <div class="icon"><img src="/assets/imagens/icones/maps.png"></div>
                    <div class="text">
                        <h3>Endereço</h3>
                        <p>R. Um <br>Vila Dom Pedro I, São Paulo / SP, <br>CEP: 00000-000</p>
                    </div>
                </div>
                <div class="box">
                    <a id="whats" href="https://api.whatsapp.com/send?phone=+5511963980592">
                        <div class="icon">
                            <img src="/assets/imagens/icones/zap.png"></div>
                    </a>
                    <div class=" text ">
                        <h3>Telefone</h3>
                        <p>(11) 99999-9999</p>
                    </div>
                </div>
                <div class="box ">
                    <div class="icon "><img src="/assets/imagens/icones/email.png ">
                    </div>
                    <div class="text ">
                        <h3>Email</h3>
                        <p>email@email.com.br</p>
                    </div>
                </div>
            </div>
            <div class="contact-form ">
                <h2>Envie uma mensagem</h2>
                <div class="inputBox ">
                    <input type="text " name="name " required="required ">
                    <span>Nome Completo</span>
                </div>
                <div class="inputBox ">
                    <input type="text " name="email " required="required ">
                    <span>Email</span>
                </div>
                <div class="inputBox ">
                    <textarea required="required " name="message "></textarea>
                    <span>Mensagem</span>
                </div>

                <!--botão-->
                <button class="btn btn-primary" onclick=teste()>Enviar</button>

            </div>
        </div>


    </section>
    <router-outlet></router-outlet>